<div class="container">
  <div class="row mt-4 ml-4">
    <div class="col-4">
      <h4>会員情報編集</h4>
    </div>
  </div>
  <%= form_with model: @customer, url: customer_path(@customer.id), method: :patch do |f| %>
  <div class="row mt-4">
    <div class="col-2 ml-4">
      <p>氏名</p>
    </div>
    <div class="col-3 ml-2">
      <%= f.text_field :last_name %>
    </div>
    <div class="col-3 ml-2">
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-2 ml-4">
      <h4>フリガナ</h4>
    </div>
    <div class="col-3 ml-2">
      <%= f.text_field :last_name_kana %>
    </div>
    <div class="col-3 ml-2">
      <%= f.text_field :first_name_kana %>
    </div>
  </div>

</div>




<p>郵便番号
<%= f.text_field :postal_code %>
</p>

<p>住所
<%= f.text_area :address %>
</p>

<p>電話番号
<%= f.text_field :telephone_number %>
</p>

<p>メールアドレス
<%= f.text_field :email %>
</p>

<%= f.submit '編集内容を保存' %>

<%= link_to "退会する", customers_unsubscribe_path %>

<% end %>