<div class="container">
  <div class="row">
    <div class="col-4">
      <h4>注文履歴一覧</h4>
    </div>
  </div>
  <div class="row-8">
    <table border width="100%">

      <thead>
      <tr>
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払い金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
      </tr>
      </thead>
      <tbody>
        <% @orderinformations.each do |information| %>
      <tr>
        <td><%= information.created_at %></td>
        <td><%= information.address %></td>
        <td>
          <% information.order_products.each do |product| %>
          <%= product.item.name %>
          <% end %>
        </td>
        <td><%= information.billing_amount.to_s(:delimited) %>円</td>
        <td></td>
        <td><%= link_to "表示する", order_information_path(information.id), class: "col-12 btn btn-primary" %></td>
      </tr>
      <tbody></tbody>
      <% end %>
    </table>
  </div>
</div>