<div class="container">
 <div class="row">
  <div class="badge bg-light">
   <h3>商品新規登録</h3>
  </div>
 </div>

 <%= form_with model: @item, url: admin_items_path do |f| %>

  <div class="row ml-5 mt-3">
   <%= f.label :商品画像, class: "col-4" %>
   <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="row ml-5 mt-4">
    <%= f.label :商品名, class: "col-4" %>
    <%= f.text_field :name %>
  </div>
  <div class="row ml-5 mt-4">
    <%= f.label :商品説明, class: "col-4" %>
    <%= f.text_area :introduction %>
  </div>
  <div class="row ml-5 mt-4">
    <%= f.label :ジャンル, class: "col-4" %>
    <%= f.select :genre_id, @genres.map{|genre|[genre.name,@item.genre_id=genre.id]} %>
  </div>
  <div class="row ml-5 mt-4">
    <%= f.label :税抜価格, class: "col-4" %>
    <%= f.text_field :price %>
  </div>
  <div class="row ml-5 mt-3 mb-4">
    <%= f.label :販売ステータス, class: "col-4" %>
    <%= f.radio_button :is_active, true %><%= f.label :is_active, "販売中" %>
    <%= f.radio_button :is_active, false %><%= f.label :is_active, "販売停止中" %>
  </div>
  <div>
   <%= f.submit '新規登録', class: "col-2 offset-5 btn btn-success" %>
  </div>

<% end %>
</div>
</div>