<div class="container">
 <div class="row">
   <div class="badge bg-light text-dark">
    <h4>管理者ログイン</h4>
   </div>
  </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   <div class="row mt-3 mb-3">
     <%= f.label :メールアドレス, class: "col-4" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-4" %>
   </div>
   <div class="row mb-5">
     <%= f.label :パスワード, class: "col-4" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "col-4" %>
   </div>
 </div>

  <div class="actions">
    <%= f.submit "Log in", class: "col-1 offset-5 btn btn-info btn-sm" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
