  <div class="container mt-4">
   <div class="row mb-4">


    <div class="col-4-text-end mt-5 offset-2">
     ようこそ、ながのCAKEへ！<br>
     このサイトは、ケーキ販売のECサイトになります。<br>
     会員でない方も商品の閲覧はできますが、<br>
     購入には会員登録が必要になります。
    </div>
   </div>
  <div class="row mt-4 offset-2">
  <h2>新着商品</h2>
  </div>

  <div class="row mt-4">
    <div class="col-3">
     <table border=”1″ width="70%">
      <thead align="center">
       <th>ジャンル検索</th>
      </thead>
      <tbody>
       <% @genres.each do |genre| %>
        <tr>
         <td>
          <%= link_to items_path(genre_seach: genre.id) do %>
          <%= genre.name %>
          <% end %>
         </td>
        </tr>
       <% end %>
      </tbody>
     </table>
    </div>
<% @items.each do |item| %>

  <div class="col mt-3">

  <div class="image">
   <%= link_to item_path(item.id) do %>
  <%= image_tag item.image, size: "100x100" %>
  </div>
  <div class="name">
  <%= item.name %>
  </div>
  <div class="price">￥
  <%= item.price %>
  </div>
  </div>
  <% end %>
  <% end %>
  </div>
  <div class="text-right mt-4">
  <%= link_to "全ての商品を見る", items_path %>
  </div>
  </div>