<h3>ジャンル一覧・追加</h3>

<p>ジャンル名</p>
<%= form_with model: @genre, url: admin_genres_path do |f| %>


<%= f.text_field :name %>

<div>
  <%= f.submit '新規登録' %>
</div>

<% end %>


<h3>ジャンル</h3>

<% @genres.each do |genre| %>

<span><%= genre.name %></span>
<%= link_to "編集する", edit_admin_genre_path(genre.id) %>
<% end %>

