<div class="container">
  <div class="row badge bg-light ml-5 mt-3">
    <h4>配送先登録/一覧</h4>
  </div>
  <%= form_with model: @address, url: addresses_path do |f| %>
  <div class="row mt-5">
    <%= f.label :郵便番号（ハイフンなし）, class: "col-4" %>
    <%= f.text_field :postal_code, autofocus: true, autocomplete: "00000", class: "col-4 ml-4" %>
    <%= f.label :住所, class: "col-4 mt-3" %>
    <%= f.text_area :address, autofocus: true, class: "col-4 ml-4 mt-3" %>
    <%= f.label :宛名, class: "col-4 mt-3" %>
    <%= f.text_field :name, autofocus: true, autocomplete: "宛名", class: "col-2 ml-4 mt-3" %>
    <%= f.submit "新規登録", class: "col-2 mt-4 offset-8 btn btn-success" %>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="row ml-4 mt-4">

<table border="1" >
  <thead>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </thead>
  <tbody>
    <% @addresses.each do |code| %>
    <tr>
      <td width="100" height="50"><%= code.postal_code %></td>
      <td><%= code.address %></td>
      <td width="100"><%= code.name %></td>
      <td width="400">
        <%= link_to "編集する", edit_address_path(code.id), class: "col-3 offset-2 btn btn-success" %>
        <%= link_to "削除する", address_path(code.id), method: :delete, class: "col-3 offset-1 btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>