<div class="container">
  <div class="row">
    <div class="col">
      <h3>注文履歴詳細</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4 font-weight-bold">
      <p>購入者</p>
    </div>
    <div class="col-4">
      <%= @orderinformation.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 font-weight-bold">
      <p>注文日</p>
    </div>
    <div class="col-4">
      <%= @orderinformation.created_at %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 font-weight-bold">
      <p>配送先</p>
    </div>
    <div class="col-4">
      <%= @orderinformation.address %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 font-weight-bold">
      <p>支払い方法</p>
    </div>
    <div class="col-4">
      <%= @orderinformation.payment_i18n %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 font-weight-bold">
      <p>注文ステータス</p>
    </div>
    <div class="col-4">
      未実装
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-8">
      <table cellpadding="15">
        <thead>
          <tr bgcolor="lightgray">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orderinformations.each do |product| %>
          <tr>
            <td><%= product.item.name %></td>
            <td><%= product.purchase_price %></td>
            <td><%= product.amount %></td>
            <td><%= product.item.with_tax_price*product.amount %></td>
            <td>着手不可</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table>
        <tr>
          <th>商品合計</th>
          <td><%= @orderinformation.billing_amount-@orderinformation.postage %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @orderinformation.postage.to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%= @orderinformation.billing_amount.to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>