  <div class="container">
    <div class="row">
      <div class="col-2">
        <table>
          <thead>
            <th>ジャンル一覧</th>
          </thead>
            <% @genres.each do |genre| %>
          <tbody>
            <td>
              <%= link_to items_path(genre_seach: genre.id) do %>
              <%= genre.name %>
              <% end %>
              </td>
          </tbody>
            <% end %>
        </table>
      </div>
      <div class="col-10">
       <% if @genre %>
        <h3><%= @genre.name %>(全<%= @items.count %>件)</h3>
        <%= render 'index', items: @items %>
       <% else %>
        <h3>商品一覧(全<%= @items.count %>件)</h3>
        <%= render 'index', items: @items %>
       <% end %>
      </div>
    </div>

      <div class="row">
        <div class="col-4 offset-3">
          <%= paginate @items %>
        </div>
      </div>

    </div>