    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-2">
          <table>
            <thead>
              <th>ジャンル検索</th>
            </thead>
            <tbody>
              <% @genres.each do |genre| %>
              <tr>
              <td>
                <%= link_to items_path(genre_seach: genre.id) do %>
                <%= genre.name %>
                <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-lg-3">
          <%= image_tag @item.image, size: "100x100" %>
        </div>
        <div class="col-lg-3">
          <%= @item.name %>
          <div class="col mt-4">
            <%= @item.introduction %>
          </div>
          <div class="col mt-4">
            ￥<%= @item.with_tax_price %>（税込）
          </div>
          <div class="col mt-4">
            <% if customer_signed_in? %>
             <%= form_with model: @cart, url: cart_items_path do |f| %>
             <%= f.select :amount, *[1..9] %>
             <%= f.hidden_field :item_id, :value => @item.id.to_s %>
             <%= f.hidden_field :customer_id, :value => current_customer.id %>
             <%= f.submit "カートに入れる", class: "btn btn-success" %>
             <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>


